<%- include('header') -%>

  <main class="main">
    <section class="error">
      <h1>Gat ekki skráð!</h1>
      <span>Hafðir þú skrifað undir áður?</span>
      <a href="/">Til baka</a>
    </section>
  </main>

<%- include('footer') -%>
